.o_account_reports_page {
  .o_account_coa_column_contrast_coa_ext td:nth-child(2n),
  td.o_account_coa_column_contrast_coa_ext:nth-child(2n), {
    background-color: #F5F5F5;
  }

  .b_c_flag {
    background-color: #F5F5F5;
  }
}

//冻结表头和第一列
.o_account_reports_table {
  thead {
    position: sticky;
    top: 0;
    z-index: 3;
    background: #F5F5F5;
  }

  thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background: #F5F5F5;
  }

  tbody td:first-child {
    position: sticky;
    left: 0;
    background: #F5F5F5;
    z-index: 1;
  }
}
//用于js触发，点击下拉时，调整当前td的层级
tr.account_report_z_index_up {
  td:first-child {
    z-index: 2;
    //background-color: #0fb2fc;
  }
}

/*针对会计报表重新定义一个样式overflow-x*/
.account-report-table-responsive {
  display: block;
  width: 100%;
  overflow-x: initial;
  -webkit-overflow-scrolling: touch;
}

.o_account_reports_page {
  .o_account_reports_table {
    .o_account_reports_header_hierarchy th:not(:first-child) {
      //border: 1px solid #e6e6e6;去掉边框
      border: none;
      border-collapse: separate;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}